<!DOCTYPE html>
<html dir="rtl" >

<head   >
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title >استاد زانیس</title>
    <link href=https://use.fontawesome.com/releases/v5.0.8/css/all.css rel=stylesheet>
    <link rel=stylesheet href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel=stylesheet href="//fonts.googleapis.com/icon?family=Material+Icons">

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true"/>
    </environment>
</head>

<body dir="rtl">
@RenderBody()

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@RenderSection("scripts", required: false)
</body>

</html>
