$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-width) {
    @content;
  }
}

$yello-deep: #fed14a;
$yellow: #efe778;

$purple: #9475cd;
$gray: #757575;
$green: #27a16e;

::selection {
  background: #9475cd;
  color: white;
}

@font-face {
  font-family: BalvardiDastnevis;
  font-style: normal;
  src: url('../assets/fonts/balvardidastnevisfree.eot');
  src: url('../assets/fonts/balvardidastnevisfree.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/balvardidastnevisfree.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/balvardidastnevisfree.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/balvardidastnevisfree.ttf') format('truetype');
}

@font-face {
  font-family: "EntezareZohoor B3";
  font-style: normal;
  src: url('../assets/fonts/entezarb3-v2-0-1-p30download-com.eot');
  src: url('../assets/fonts/entezarb3-v2-0-1-p30download-com.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/entezarb3-v2-0-1-p30download-com.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/entezarb3-v2-0-1-p30download-com.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/entezarb3-v2-0-1-p30download-com.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/eot/IRANSansWeb_Bold.eot');
  src: url('../assets/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/eot/IRANSansWeb_Medium.eot');
  src: url('../assets/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/eot/IRANSansWeb_Light.eot');
  src: url('../assets/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/eot/IRANSansWeb_UltraLight.eot');
  src: url('../assets/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/eot/IRANSansWeb.eot');
  src: url('../assets/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: IRANSans;
}

.el-button {
  margin: 0 3px !important;
}

body, html {
  direction: rtl;
  height: 100%;

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .modal-dialog {
    max-width: 752px !important;
  }
}

.modal-full .modal-dialog {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-dialog .modal-content {
  min-height: 100vh;
}

.text-black {
  color: black;
}

.text-orange {
  color: orange;
}

.red {
  color: #bd2130;
}

.green {
  color: green;
}

button {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
  cursor: pointer;
  border: 0px solid red;
  padding: 7px 10px;
  border-radius: 3px;
  color: #717171;
  background-color: #efe778;
}

.btn {
  box-shadow: 1px 2px 10px 2px #bdbdbd;
}

.btn-primary {
  background-color: $purple !important;
  border-color: $purple !important;
  box-shadow: 1px 2px 10px 2px #bdbdbd;
}

.btn-success {

  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

input {
  outline: none !important;
  border: 0px solid red;
  padding: 7px 10px;
  border-radius: 15px;
}

a {
  color: white;
  &:link {
    text-decoration: none;
  }
  &:hover {
    color: white;
  }
}

#main-nav {
  background-color: #535252;
  .login-btn {
    cursor: pointer;
    width: 100px;
    color: white;
    transition: all 0.3s;
    background-color: #717171;
    border: 1px solid #afafaf;
    &:hover {
      border: 1px solid white;
    }
  }
  .cart-btn{
    line-height: 38px;
    margin: 5px;
    padding:4px 15px 4px 3px !important;
    cursor: pointer;
    color: #efe778;
    background-color: #717171;
    border: 1px solid #efe778;
    border-radius: 3px;
  }
  .signup-btn {
    cursor: pointer;
    transition: all 0.3s;
    color: #717171;
    background-image: linear-gradient(to right, #efe778, #edee90, #ecf4a7, #edfabd, #f1ffd3);
    &:hover {
      box-shadow: 1px 0 5px #c5c59f;
    }
  }
  .start-teaching {
    cursor: pointer;
    color: #efe778;
    background-color: #717171;
    border: 1px solid #efe778;
  }

  .drop-down{
    display: inline-block;
    position: relative;
  }

  .drop-down__button{
    width: 145px;
    display: inline-block;
    line-height: 40px;
    padding: 0 18px;
    border-radius: 4px;
    cursor: pointer;
  }

  .drop-down__name {
    color: #fff;
  }

  .drop-down__icon {
    width: 18px;
    vertical-align: middle;
    margin-left: 14px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;

  }
  .drop-down__menu-box {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    transition: all 0.3s;
    margin-top: 5px;
    a{
      color: #444444;
    }
  }

  .drop-down__menu {
    margin: 0;
    padding: 0 13px;
    list-style: none;
  }
  .drop-down__menu-box:before{
    content:'';
    background-color: transparent;
    border-right: 8px solid transparent;
    position: absolute;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-top: 8px solid transparent;
    top: -15px;
    right: 18px;

  }

  .drop-down__menu-box:after{
    content:'';
    background-color: transparent;
  }

  .drop-down__item {
    font-size: 13px;
    padding: 13px 0;
    font-weight: 500;
    color: #909dc2;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #e0e2e9;
  }

  .drop-down__item-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    fill: #8995b6;

  }

  .drop-down__item:hover .drop-down__item-icon{
    fill: $yellow;
  }

  .drop-down__item:hover{
    color: $yellow;
  }



  .drop-down__item:last-of-type{
    border-bottom: 0;
  }


  .drop-down--active .drop-down__menu-box{
    visibility: visible;
    opacity: 1;
    margin-top: 15px;
  }

  .drop-down__item:before{
    content:'';
    position: absolute;
    width: 3px;
    height: 28px;
    background-color: $yellow;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
    display:none;
  }

  .drop-down__item:hover:before{
    display:block;
  }
}

.nav-link {
  margin: 0 7px;
  padding: 0 !important;;
  color: white !important;
}

.nav-item {
  a {
    padding: 0 !important;
  }
  &.active {
    a {
      color: white !important;
    }
  }
}

.nav-tabs {
  .nav-link {
    color: gray !important;
    &.active {
      color: black !important;
    }
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-header {
  background: url('../assets/images/header-image.jpg') no-repeat fixed;
  background-size: cover;
  min-height: 740px;
  &.small-header {
    min-height: 254px;
    @media screen and (max-device-width: 768px) {
      min-height: 166px;
    }
    background-color: rgba(0, 0, 0, 0.3);

    h3 {
      margin: 0;
      color: white;
      text-align: center;
      vertical-align: middle;
      line-height: 203px;
      font-size: 43px;
      @media screen and (max-device-width: 768px) {
        line-height: 86px;
        font-size: 17px;
      }
      @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        line-height: 174px;
        font-size: 32px;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    min-height: 343px;
  }
  #intro-wrapper {
    h1 {
      margin: 80px 20px 0 0;
      display: inline-block;
      color: #d6d4d3;
      font-family: 'EntezareZohoor B3';
      font-size: 70px;
      border-bottom: 3px solid white;
      border-top: 3px solid white;
    }
    h2 {
      margin: 55px 20px 0 0;
      font-family: BalvardiDastnevis;
      font-size: 58px;
      color: $yellow;
    }
    min-height: 870px;
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    }
    @media only screen and (max-width: 600px) {
      min-height: 343px;
    }
  }
}

.yellow-large-separator {
  height: 100px;
  background-color: $yellow;
}

.yellow-small-separator {
  height: 40px;
  background-color: $yellow;
}

.two-side-title {

  color: #535252;
  text-align: center;
  position: relative;
  &:before, &:after {
    top: 13px;
    content: " ";
    background-color: #afafaf;
    width: 44%;
    height: 2px;
    position: absolute;
  }
  &:before {
    right: 0px;
  }
  &:after {
    left: 0px;
  }
}

.universities {
  margin: 27px 0 78px 0;
}

.university-box {
  width: 212px;
  margin: 5px;
  figure {
    margin: 0;
  }
  background-color: white;
  box-shadow: 1px 0px 13px -7px #000000;
  span {
    font-size: 25px;
    padding-bottom: 24px;
    color: #535252;
    font-weight: lighter;
    display: block;
  }
  text-align: center;
}

.teach-as-teacher {
  text-align: center;
  h3 {
    text-align: center;
    color: white;
    padding-top: 50px;
    font-size: 50px;
  }
  button {
    font-size: 30px;
    margin-top: 54px;
    padding: 11px;
    transition: all 0.3s;
    font-weight: 500;
    &:hover {
      box-shadow: 1px 0px 10px yellow;
      font-size: 25px;
    }
  }
  height: 400px;
  background: url('../assets/images/start-to-teach.png') no-repeat;
  background-size: 100% 100%;

}

#support-nav {
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 2px solid white;
  .nav-link {
    color: white !important;
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-nav {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

main {
  margin: 40px 0 0 0;
}

.purple-wrapper {
  min-height: 73px;
  width: 100%;
  height: 100%;
  background-color: #9475cd;
  border-radius: 1px;
  box-shadow: 1px 1px 1px 1px #9475cd;
  border: 0px solid red;
  ::placeholder {
    color: white
  }
  outline: none;
  .search-btn {
    cursor: pointer;
    height: 55px;
    margin-top: 7px;
    margin-left: 10px;
  }
}

#search-mobile {
  padding: 0 10px;
}

input.purple-wrapper {
  width: 400px;
  height: 90%;
  color: white;
  padding: 7px;
  caret-color: yellow !important;
}

#search-title {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: #ffd965;
  }
}

.p2 {
  padding: 2px !important;
}

.product-types {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  p.product-title {
    white-space: nowrap;
    margin: 0px;
  }
}

.box {
  cursor: pointer;
  color: $gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  min-height: 180px;
  background-color: #ffd965;
  align-items: center;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px #ffd965;
}

.grow-1 {
  margin-left: 25px;
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.yellow-deep {
  background-color: $yello-deep;
  box-shadow: 1px 1px 1px 1px $yello-deep;
}

.product-type-image {
  width: 71px;
  height: 88px;
  figure {
    &.image-2 {
    }
  }
}

.no-wrap {
  white-space: nowrap;
}

.grade {
  cursor: pointer;
  :hover {
    color: black !important;
  }
  transition: color 0.6s linear;
  min-height: 67px;
  background-color: #ffd965;
  color: $gray !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  &.active {
    background-color: #fed14a;
  }
}

.gray-shadow {
  background-color: white;
  box-shadow: 0 1px 6px 1px #d6d6d6;
  margin: 1px -15px;
  border-radius: 5px;
}

.university {
  :hover {
    color: black !important;
  }
  transition: color 0.6s linear;
  min-height: 67px;
  background-color: #edecec;
  color: $gray !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  text-align: center;
}

ul.column-group {
  border-left: 1px solid #e3e2e2;
  margin: 2px 0px 0px 0px;
  padding: 0px;
  list-style: none;
  width: 100%;

  li {
    padding-right: 40px !important;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 50px;
    color: $gray !important;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    &.active {
      color: #9c27b0 !important;
    }
  }
  li:nth-of-type(odd) {
    background-color: #f7f7f7;
  }
  li:nth-of-type(even) {
    background-color: #f1f1f1;
  }
}

.visual-learning {
  padding: 36px 0 0 0;
  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  img {
    max-width: 100%;
    max-height: 583px;
  }
  h3 {
    position: relative;
    margin-bottom: 13px;
    &:after {
      top: 17px;
      content: " ";
      background-color: #afafaf;
      width: 66%;
      height: 2px;
      position: absolute;
      left: 0px;
    }
  }
  p {
    line-height: 2;
  }
  .text-content {
    padding-top: 76px;
  }
  @include mobile {
    padding: 28px 0 !important;
    .text-content {
      margin-top: 27px;
      h3 {
        text-align: center;
      }
    }
  }
}

.exam-smaples {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 6px 1px #d6d6d6;
  margin-top: 54px;
  display: flex;
  .blue {
    color: #9475cd;
    font-size: 21px;
    margin-top: 14px;
  }
  flex-direction: column;
  padding: 20px 30px;
  .list {
    background-color: #eff6ff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #e8e8e8;
    min-height: 100px;
    margin-top: 10px;
    padding: 20px;
    ul {
      li {
        font-size: 13px;
        color: #6b6b6b;
        padding-right: 10px;
        &::before {
          content: " * "
        }
      }
    }
  }
}

.courses {
  padding: 20px 15px;
  flex-direction: column;
  .card {
    padding: 20px 0;
    background-color: white;
    box-shadow: 0 1px 6px 1px #d6d6d6;
    border-radius: 5px;
    .list {

    }
  }
}

.course {
  background-color: white;
  margin: 15px 0px 0px 15px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 7px 1px #d8d8d8;
  transition: all 0.1s;
  @media only screen and (max-device-width: 768px) {
    margin: 15px 0 0 0;
  }
  &:hover {
    margin: 12px 0px 3px 15px;
    box-shadow: 1px 1px 26px 5px #eaeaea;
  }
  h6 {
    margin-bottom: 25px;
  }
  span {
    display: block;
    margin-bottom: 10px;
  }
  .price-cart {
    display: flex;
    .price {
      color: #ef4123;
    }
    justify-content: space-between;
    align-items: center;
  }
  .btn-buy {
    background-color: #ef4123;
    color: white;
  }

  .btn-show {
    margin-left: 5px;

    background-color: $purple;
    color: white;
    border-radius: 6px;
    box-shadow: 1px 2px 10px 2px #bdbdbd;
  }
}

footer {
  background-color: #414040;
  padding-top: 110px;
  .social-links {
    margin-top: 50px;
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      li {
        @media only screen and (max-device-width: 768px) {
          margin: 0 7px;
          padding: 25px;
          font-size: 26px;
          color: white;
        }
        cursor: pointer;
        margin: 0 17px;
        padding: 30px;
        font-size: 34px;
        border: 1px solid white;
        color: white;
        border-radius: 37px;
        transition: all 0.3s;
        position: relative;
        a {
          left: 25%;
          top: 18%;
          position: absolute;
          i {
            transition: all 0.3s;
          }
        }
        &:hover {
          border: 1px solid $yellow !important;
          a {
            i {
              color: $yellow;
            }
          }
        }
      }
    }
    margin-bottom: 21px;
  }
  .copyright {
    font-size: 16px;
  }
  .other-links {
    @media only screen and (max-device-width: 768px) {
      padding-right: 10px;
      padding-top: 30px;
    }
    padding-right: 82px;
    ul {
      padding: 0px;
      margin-top: 33px;
      list-style: none;
      li {
        font-size: 16px;
        padding-top: 16px;
        transition: all 0.3s;
        color: white;
        :hover {
          color: $yellow;
        }
      }
    }
  }
}

#login-dialog, #register-dialog, #reset-pass-dialog, #register-as-teacher-dialog {
  .modal-content {
    border-radius: 23px;
  }

}

.login {
  padding: 0 !important;
  border-radius: 20px;
  overflow: hidden;
  .login-logo {
    margin-top: 70px;
    margin-right: 50px;
    height: 100px;
    width: 250px;
  }
  .login-intro {
    padding: 28px;
    justify-content: center;
    background-color: #9475cd;
    color: white;
    p {
      text-align: justify;
      padding-top: 40px;
      color: white;
    }
    .divider {
      border-top: 1px solid white;
      margin-top: 90px;
    }
  }
  .login-form {
    @media only screen and (max-device-width: 768px) {
      padding-bottom: 15px;
    }
    .modal-close {
      cursor: pointer;
      font-size: 43px;
      color: gray;
      position: absolute;
      top: 24px;
      right: 49px;
    }
    position: relative;
    background-color: #f7f7f7;
    padding: 0px 40px;
    .hint {
      margin-top: 140px;
      color: #9475cd;
      @media only screen and (max-device-width: 768px) {
        margin-top: 115px;
      }
    }
    form {
      margin-top: 50px;
      button,
      input {
        border-radius: 20px;
        width: 100%;
        box-shadow: 1px 2px 7px -1px #757575;
        height: 54px;
        &.is-valid {
          border-color: #ffffff !important;
        }
      }
      button {
        background-color: #9475cd;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
      }
    }
  }
}

.profile-item-container {
  position: relative;
  &:hover {
    .profile-items {
      display: block;
    }
  }
  .profile-items {
    display: none;
    position: absolute;
    box-shadow: 0px 0px 6px 0px #bbbbbb;
    z-index: 36;
    width: 200px;
    background-color: white;
    left: 0;
    border-radius: 3px;
    padding: 15px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        color: black;
      }
    }
  }
}

.cart-container {
  position: relative;
  &:hover {
    .cart {
      display: block;
    }
  }
  .cart {
    &:before{
      content: " ";
      width: 0;
      position: absolute;
      height: 0;
      top: -28px;
      left: 25px;
      border-style: solid;
      border-width: 16px 24px 12px 24px;
      border-color: transparent transparent #ffffff transparent;  }
    display: none;
    position: absolute;
    z-index: 36;
    width: 600px;
    background-color: white;
    left: 0;
    border-radius: 3px;
    padding: 15px;
    margin-top:10px;
  }
}

.cart-item {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 10px;
  .delete-item {
    cursor: pointer;
    padding-left: 7px;
    i {
      font-size: 12px;
    }
  }
}

.modal-cart-container button {
  position: fixed;
  bottom: 13px;
  right: 5%;
  width: 90%;
}

.box-mp {
  padding: 20px;
  margin: 40px 0 20px 0;
}

.course-header {
  color: white;

  background-color: #2e2e2e;
  .teacher-avatar {
    border-radius: 50%;
    border: 6px solid #3f3f3f;
    width: 90px;
    height: 90px;
    background-size: cover;
  }
  .teacher-name {
    padding-top: 15px;
    p {
      color: white;
    }
  }
  .add-cart {
    margin-top: 6px;
    color: white !important;
    background-color: $purple !important;
    padding: 13px 26px;
  }
}

.video-container {
  background-color: black;
  padding: 10px 0;
}

.card-title {
  color: $purple;
  padding: 4px;
  font-size: 20px;
  display: inline;
  border-bottom: 5px solid #f1c2387a;
}

.course-details {
  background-color: #f4f4f4;
}

.card-d {

  box-shadow: 0 3px 12px #bfbfbf;
  margin: 20px 0 0 0;
  padding: 27px 47px 27px 47px;
  background-color: white;
  border-radius: 5px;
  @media only screen and (max-device-width: 768px) {
    margin: 20px 5px 5px 0;
    padding: 27px 13px 27px 11px;
  }
  ul.course-item-list {
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
    li {
      border-bottom: 2px solid #e6e6e6;
      cursor: pointer;
      padding: 20px 10px;
      &.lock {
        color: gray;
      }
      &.active {
        color: #28a745;
        background-color: #f4f4f4;
      }
    }
  }
}

.vjs_video_3-dimensions {
  width: 100% !important;
}

.last-courses {
  .title {
    margin: 30px 0;
    h3 {
      border-bottom: 5px solid #ffd965;
      display: inline;
    }
  }
}
