@import "variables";
@import "mixins";


@font-face {
  font-family: BalvardiDastnevis;
  font-style: normal;
  src: url('../assets/fonts/balvardidastnevisfree.eot');
  src: url('../assets/fonts/balvardidastnevisfree.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/balvardidastnevisfree.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/balvardidastnevisfree.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/balvardidastnevisfree.ttf') format('truetype');
}

@font-face {
  font-family: "EntezareZohoor B3";
  font-style: normal;
  src: url('../assets/fonts/entezarb3-v2-0-1-p30download-com.eot');
  src: url('../assets/fonts/entezarb3-v2-0-1-p30download-com.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/entezarb3-v2-0-1-p30download-com.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/entezarb3-v2-0-1-p30download-com.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/entezarb3-v2-0-1-p30download-com.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/eot/IRANSansWeb_Bold.eot');
  src: url('../assets/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/eot/IRANSansWeb_Medium.eot');
  src: url('../assets/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/eot/IRANSansWeb_Light.eot');
  src: url('../assets/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/eot/IRANSansWeb_UltraLight.eot');
  src: url('../assets/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/eot/IRANSansWeb.eot');
  src: url('../assets/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../assets/fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
  url('../assets/fonts/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../assets/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: IRANSans;
}
html,body{
  height:100%;
}


button {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
  cursor: pointer;
  border: 0px solid red;
  padding: 7px 10px;
  border-radius: 3px;
  color: #717171;
  background-color: #efe778;
}
.xanis-btn-secondary{
  cursor: pointer;
  color: #717171;
  border: 1px solid #efe778;
}
.xanis-btn{
  min-width:70px;
  cursor: pointer;
  transition: all 0.3s;
  color: #717171;
  background-image: linear-gradient(to right, #efe778, #edee90, #ecf4a7, #edfabd, #f1ffd3);
  &:hover {
    box-shadow: 1px 0 5px #c5c59f;
    background-image: linear-gradient(
                    to right,
                    #e6f63e,
                    #ecf843,
                    #f3fa49,
                    #f9fd4e,
                    #ffff53
    );
  }
}





.course-header {
  color: white;

  background-color: #2e2e2e;
  .teacher-avatar {
    border-radius: 50%;
    border: 6px solid #3f3f3f;
    width: 90px;
    height: 90px;
    background-size: cover;
  }
  .teacher-name {
    padding-top: 15px;
    p {
      color: white;
    }
  }
  .add-cart {
    margin-top: 6px;
    color: white !important;
    background-color: $purple !important;
    padding: 13px 26px;
  }
}

.video-container {
  background-color: black;
  padding: 10px 0;
}

.card-title {
  color: $purple;
  padding: 4px;
  font-size: 20px;
  display: inline;
  border-bottom: 5px solid #f1c2387a;
}

.course-details {
  background-color: #f4f4f4;
}

.card-d {

  box-shadow: 0 3px 12px #bfbfbf;
  margin: 20px 0 0 0;
  padding: 27px 47px 27px 47px;
  background-color: white;
  border-radius: 5px;
  @media only screen and (max-device-width: 768px) {
    margin: 20px 5px 5px 0;
    padding: 27px 13px 27px 11px;
  }
  ul.course-item-list {
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
    li {
      border-bottom: 2px solid #e6e6e6;
      cursor: pointer;
      padding: 20px 10px;
      &.lock {
        color: gray;
      }
      &.active {
        color: #28a745;
        background-color: #f4f4f4;
      }
    }
  }
}

.vjs_video_3-dimensions {
  width: 100% !important;
}

.last-courses {
  .title {
    margin: 30px 0;
    h3 {
      border-bottom: 5px solid #ffd965;
      display: inline;
    }
  }
}

.page-item {
  margin: 0 2px;
}
.page-link {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #929292 !important;;
  &:hover {
    background-color: #efe778 !important;
  }
  &:focus {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
  }
}
.page-item:last-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.page-item:first-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.page-item.active .page-link {
  z-index: 1;
  color: rgb(100, 100, 100);
  background-color: #efe778;
  border-color: #efe778;
}