::selection {
  background: #9475cd;
  color: white; }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../assets/fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype"); }
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../assets/fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype"); }
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/eot/IRANSansWeb_Light.eot");
  src: url("../assets/fonts/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb_Light.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb_Light.ttf") format("truetype"); }
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/eot/IRANSansWeb_UltraLight.eot");
  src: url("../assets/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype"); }
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/eot/IRANSansWeb.eot");
  src: url("../assets/fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../assets/fonts/woff/IRANSansWeb.woff") format("woff"), url("../assets/fonts/ttf/IRANSansWeb.ttf") format("truetype"); }
*,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: IRANSans; }

h1,
h2,
h3,
h4,
h5,
h6, p, span {
  color: #545454; }

body, html {
  direction: rtl;
  height: 100%; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .modal-dialog {
    max-width: 752px !important; } }
.modal-full .modal-dialog {
  min-width: 100%;
  margin: 0; }

.modal-full .modal-dialog .modal-content {
  min-height: 100vh; }

.text-black {
  color: black; }

.text-orange {
  color: orange; }

.red {
  color: #bd2130; }

.green {
  color: green; }

button {
  outline: none !important;
  cursor: pointer;
  border: 0px solid red;
  padding: 7px 10px;
  border-radius: 15px; }
  button:focus {
    outline: none !important;
    color: white; }

.btn {
  box-shadow: 1px 2px 10px 2px #bdbdbd; }

.btn-primary {
  background-color: #9475cd !important;
  border-color: #9475cd !important;
  box-shadow: 1px 2px 10px 2px #bdbdbd; }

.btn-success {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important; }

input {
  outline: none !important;
  border: 0px solid red;
  padding: 7px 10px;
  border-radius: 15px; }

a {
  color: white; }
  a:link {
    text-decoration: none; }
  a:hover {
    color: white; }

#main-nav {
  background-color: rgba(0, 0, 0, 0.6); }

.nav-link {
  margin: 0 15px;
  font-weight: bold;
  color: white !important; }

.nav-item.active a {
  color: white !important; }

.nav-tabs .nav-link {
  color: gray !important; }
  .nav-tabs .nav-link.active {
    color: black !important; }

.wrapper {
  background-color: #f4f4f4;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.main-header {
  background: url("../assets/images/header-image.jpg") no-repeat fixed;
  background-size: cover;
  min-height: 740px; }
  .main-header.small-header {
    min-height: 254px;
    background-color: rgba(0, 0, 0, 0.3); }
    @media screen and (max-device-width: 768px) {
      .main-header.small-header {
        min-height: 166px; } }
    .main-header.small-header h3 {
      margin: 0;
      color: white;
      text-align: center;
      vertical-align: middle;
      line-height: 203px;
      font-size: 43px; }
      @media screen and (max-device-width: 768px) {
        .main-header.small-header h3 {
          line-height: 86px;
          font-size: 17px; } }
      @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .main-header.small-header h3 {
          line-height: 174px;
          font-size: 32px; } }
  @media only screen and (max-width: 600px) {
    .main-header {
      min-height: 343px; } }

#intro-image-wrapper {
  justify-content: center;
  min-height: 745px; }
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #intro-image-wrapper img {
      width: 910px !important; } }
  @media only screen and (max-width: 600px) {
    #intro-image-wrapper {
      min-height: 343px; }
      #intro-image-wrapper img {
        height: 343px !important; } }

#support-nav {
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 2px solid white; }
  #support-nav .nav-link {
    color: white !important;
    padding-left: 0px;
    padding-right: 0px; }
  #support-nav .navbar-nav {
    padding-left: 0px;
    padding-right: 0px; }

#header-content-wrapper {
  background-color: rgba(0, 0, 0, 0.3); }

.no-margin {
  margin: 0px !important; }

.no-padding {
  padding: 0px !important; }

main {
  margin: 40px 0px; }

.purple-wrapper {
  min-height: 73px;
  width: 100%;
  height: 100%;
  background-color: #9475cd;
  border-radius: 1px;
  box-shadow: 1px 1px 1px 1px #9475cd;
  border: 0px solid red;
  outline: none; }
  .purple-wrapper ::placeholder {
    color: white; }
  .purple-wrapper .search-btn {
    cursor: pointer;
    height: 55px;
    margin-top: 7px;
    margin-left: 10px; }

#search-mobile {
  padding: 0 10px; }

input.purple-wrapper {
  width: 400px;
  height: 90%;
  color: white;
  padding: 7px;
  caret-color: yellow !important; }

#search-title {
  display: flex;
  justify-content: center;
  align-items: center; }
  #search-title p {
    color: #ffd965; }

.p2 {
  padding: 2px !important; }

.product-types {
  margin: 40px 0px;
  display: flex;
  flex-direction: row; }
  .product-types p.product-title {
    white-space: nowrap;
    margin: 0px; }

.box {
  cursor: pointer;
  color: #757575;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  min-height: 180px;
  background-color: #ffd965;
  align-items: center;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px #ffd965; }

.grow-1 {
  margin-left: 25px;
  flex-grow: 1; }

.grow-2 {
  flex-grow: 2; }

.yellow-deep {
  background-color: #fed14a;
  box-shadow: 1px 1px 1px 1px #fed14a; }

.product-type-image {
  width: 71px;
  height: 88px; }

.no-wrap {
  white-space: nowrap; }

.grade {
  cursor: pointer;
  transition: color 0.6s linear;
  min-height: 67px;
  background-color: #ffd965;
  color: #757575 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  text-align: center; }
  .grade :hover {
    color: black !important; }
  .grade.active {
    background-color: #fed14a; }

.gray-shadow {
  background-color: white;
  box-shadow: 0 1px 6px 1px #d6d6d6;
  margin: 1px -15px;
  border-radius: 5px; }

.university {
  transition: color 0.6s linear;
  min-height: 67px;
  background-color: #edecec;
  color: #757575 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  text-align: center; }
  .university :hover {
    color: black !important; }

ul.column-group {
  border-left: 1px solid #e3e2e2;
  margin: 2px 0px 0px 0px;
  padding: 0px;
  list-style: none;
  width: 100%; }
  ul.column-group li {
    padding-right: 40px !important;
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 50px;
    color: #757575 !important;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    font-weight: bold; }
    ul.column-group li.active {
      color: #9c27b0 !important; }
  ul.column-group li:nth-of-type(odd) {
    background-color: #f7f7f7; }
  ul.column-group li:nth-of-type(even) {
    background-color: #f1f1f1; }

.visual-learning {
  background-color: #ffd965;
  margin-top: 30px;
  padding: 100px 0; }
  .visual-learning .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .visual-learning img {
    max-width: 100%;
    max-height: 383px; }
  .visual-learning h3 {
    margin-bottom: 30px; }
  .visual-learning p {
    line-height: 2; }
  @media screen and (max-width: 768px) {
    .visual-learning {
      padding: 28px 0 !important; }
      .visual-learning .text-content {
        margin-top: 27px; }
        .visual-learning .text-content h3 {
          text-align: center; } }

.exam-smaples {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 6px 1px #d6d6d6;
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px; }
  .exam-smaples .blue {
    color: #9475cd;
    font-size: 21px;
    margin-top: 14px; }
  .exam-smaples .list {
    background-color: #eff6ff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #e8e8e8;
    min-height: 100px;
    margin-top: 10px;
    padding: 20px; }
    .exam-smaples .list ul li {
      font-size: 13px;
      color: #6b6b6b;
      padding-right: 10px; }
      .exam-smaples .list ul li::before {
        content: " * "; }

.courses {
  padding: 20px 15px;
  flex-direction: column; }
  .courses .card {
    padding: 20px 0;
    background-color: white;
    box-shadow: 0 1px 6px 1px #d6d6d6;
    border-radius: 5px; }

.course {
  background-color: white;
  margin: 15px 0px 0px 15px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 7px 1px #d8d8d8;
  transition: all 0.1s; }
  @media only screen and (max-device-width: 768px) {
    .course {
      margin: 15px 0 0 0; } }
  .course:hover {
    margin: 12px 0px 3px 15px;
    box-shadow: 1px 1px 26px 5px #eaeaea; }
  .course h6 {
    margin-bottom: 25px; }
  .course span {
    display: block;
    margin-bottom: 10px; }
  .course .price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .course .price-cart .price {
      color: #ef4123; }
  .course .btn-buy {
    background-color: #ef4123;
    color: white; }
  .course .btn-show {
    margin-left: 5px;
    background-color: #9475cd;
    color: white;
    border-radius: 6px;
    box-shadow: 1px 2px 10px 2px #bdbdbd; }

footer {
  margin-top: 55px;
  background-color: #414040;
  padding-top: 110px; }
  footer .news-letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
    background-color: white;
    border-radius: 50px;
    min-height: 65px;
    position: relative;
    padding-right: 10px; }
    @media only screen and (max-device-width: 768px) {
      footer .news-letter {
        min-height: 49px; } }
    footer .news-letter .submit {
      position: absolute;
      border-radius: 50px;
      min-height: 65px;
      width: 150px;
      left: 0;
      background-color: #9475cd;
      border: 0px solid red; }
      @media only screen and (max-device-width: 768px) {
        footer .news-letter .submit {
          min-height: 50px;
          width: 93px; } }
  footer .social-links {
    margin-top: 50px;
    margin-bottom: 21px; }
    footer .social-links ul {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      footer .social-links ul li {
        cursor: pointer;
        margin: 0 17px;
        padding: 30px;
        font-size: 34px;
        border: 1px solid white;
        color: white;
        border-radius: 37px;
        transition: all 0.3s;
        position: relative; }
        @media only screen and (max-device-width: 768px) {
          footer .social-links ul li {
            margin: 0 7px;
            padding: 25px;
            font-size: 26px;
            color: white; } }
        footer .social-links ul li a {
          left: 25%;
          top: 18%;
          position: absolute; }
          footer .social-links ul li a i {
            transition: all 0.3s; }
        footer .social-links ul li:hover {
          border: 1px solid #9475cd !important; }
          footer .social-links ul li:hover a i {
            color: #9475cd; }
  footer .copyright {
    font-size: 16px; }
  footer .other-links {
    padding-right: 82px; }
    @media only screen and (max-device-width: 768px) {
      footer .other-links {
        padding-right: 10px;
        padding-top: 30px; } }
    footer .other-links ul {
      border-top: 5px dotted white;
      padding: 0px;
      margin-top: 33px;
      list-style: none; }
      footer .other-links ul li {
        font-size: 16px;
        padding-top: 16px;
        transition: all 0.3s;
        color: white; }
        footer .other-links ul li :hover {
          color: #9475cd; }
  footer .footer-line {
    margin-top: 62px;
    border-top: 3px solid #9475cd;
    min-height: 62px;
    position: relative; }
    footer .footer-line .go-to-top {
      background-color: #9575cd;
      min-height: 70px;
      min-width: 70px;
      border-radius: 50px;
      left: 50%;
      position: absolute;
      top: -37px; }
      @media only screen and (max-device-width: 768px) {
        footer .footer-line .go-to-top {
          left: 40%; } }
      footer .footer-line .go-to-top .line:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        left: 44%;
        top: 41%;
        width: 25px;
        height: 5px;
        background-color: #f6d703;
        border-radius: 5px; }
      footer .footer-line .go-to-top .line:nth-child(2) {
        transform: rotate(-45deg);
        position: absolute;
        left: 22%;
        top: 41%;
        width: 25px;
        height: 5px;
        background-color: #f6d703;
        border-radius: 5px; }

#login-dialog .modal-content, #register-dialog .modal-content, #reset-pass-dialog .modal-content, #register-as-teacher-dialog .modal-content {
  border-radius: 23px; }

.login {
  padding: 0 !important;
  border-radius: 20px;
  overflow: hidden; }
  .login .login-logo {
    margin-top: 70px;
    margin-right: 50px;
    height: 100px;
    width: 250px; }
  .login .login-intro {
    padding: 28px;
    justify-content: center;
    background-color: #9475cd;
    color: white; }
    .login .login-intro p {
      text-align: justify;
      padding-top: 40px;
      color: white; }
    .login .login-intro .divider {
      border-top: 1px solid white;
      margin-top: 90px; }
  .login .login-form {
    position: relative;
    background-color: #f7f7f7;
    padding: 0px 40px; }
    @media only screen and (max-device-width: 768px) {
      .login .login-form {
        padding-bottom: 15px; } }
    .login .login-form .modal-close {
      cursor: pointer;
      font-size: 43px;
      color: gray;
      position: absolute;
      top: 24px;
      right: 49px; }
    .login .login-form .hint {
      margin-top: 140px;
      color: #9475cd; }
      @media only screen and (max-device-width: 768px) {
        .login .login-form .hint {
          margin-top: 115px; } }
    .login .login-form form {
      margin-top: 50px; }
      .login .login-form form button,
      .login .login-form form input {
        border-radius: 20px;
        width: 100%;
        box-shadow: 1px 2px 7px -1px #757575;
        height: 54px; }
        .login .login-form form button.is-valid,
        .login .login-form form input.is-valid {
          border-color: #ffffff !important; }
      .login .login-form form button {
        background-color: #9475cd;
        margin-top: 10px;
        margin-bottom: 10px;
        color: white; }

.profile-item-container {
  position: relative; }
  .profile-item-container:hover .profile-items {
    display: block; }
  .profile-item-container .profile-items {
    display: none;
    position: absolute;
    box-shadow: 0px 0px 6px 0px #bbbbbb;
    z-index: 36;
    width: 200px;
    background-color: white;
    left: 0;
    border-radius: 3px;
    padding: 15px; }
    .profile-item-container .profile-items ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .profile-item-container .profile-items ul a {
        color: black; }

.cart-container {
  position: relative; }
  .cart-container:hover .cart {
    display: block; }
  .cart-container .cart {
    display: none;
    position: absolute;
    box-shadow: 0px 0px 6px 0px #bbbbbb;
    z-index: 36;
    width: 600px;
    background-color: white;
    left: 0;
    border-radius: 3px;
    padding: 15px; }

.cart-item {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 10px; }
  .cart-item .delete-item {
    cursor: pointer;
    padding-left: 7px; }
    .cart-item .delete-item i {
      font-size: 12px; }

.modal-cart-container button {
  position: fixed;
  bottom: 13px;
  right: 5%;
  width: 90%; }

.box-mp {
  padding: 20px;
  margin: 40px 0 20px 0; }

.course-header {
  color: white;
  background-color: #2e2e2e; }
  .course-header .teacher-avatar {
    border-radius: 50%;
    border: 6px solid #3f3f3f;
    width: 90px;
    height: 90px;
    background-size: cover; }
  .course-header .teacher-name {
    padding-top: 15px; }
    .course-header .teacher-name p {
      color: white; }
  .course-header .add-cart {
    margin-top: 6px;
    color: white !important;
    background-color: #9475cd !important;
    padding: 13px 26px; }

.video-container {
  background-color: black;
  padding: 10px 0; }

.card-title {
  color: #9475cd;
  padding: 4px;
  font-size: 20px;
  display: inline;
  border-bottom: 5px solid #f1c2387a; }

.course-details {
  background-color: #f4f4f4; }

.card-d {
  box-shadow: 0 3px 12px #bfbfbf;
  margin: 20px 0 0 0;
  padding: 27px 47px 27px 47px;
  background-color: white;
  border-radius: 5px; }
  @media only screen and (max-device-width: 768px) {
    .card-d {
      margin: 20px 5px 5px 0;
      padding: 27px 13px 27px 11px; } }
  .card-d ul.course-item-list {
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0; }
    .card-d ul.course-item-list li {
      border-bottom: 2px solid #e6e6e6;
      cursor: pointer;
      padding: 20px 10px; }
      .card-d ul.course-item-list li.lock {
        color: gray; }
      .card-d ul.course-item-list li.active {
        color: #28a745;
        background-color: #f4f4f4; }

.vjs_video_3-dimensions {
  width: 100% !important; }

.last-courses .title {
  margin: 30px 0; }
  .last-courses .title h3 {
    border-bottom: 5px solid #ffd965;
    display: inline; }

/*# sourceMappingURL=style.css.map */
