$yello-deep:#fbd008;
$gray:#757575;
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../assets/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../assets/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../assets/fonts/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../assets/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/eot/IRANSansWeb_Medium.eot');
    src: url('../assets/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../assets/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../assets/fonts/woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../assets/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/eot/IRANSansWeb_Light.eot');
    src: url('../assets/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../assets/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../assets/fonts/woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../assets/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('../assets/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../assets/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../assets/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../assets/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/eot/IRANSansWeb.eot');
    src: url('../assets/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../assets/fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../assets/fonts/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../assets/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: IRANSans
}

button {
    outline: none !important;
    cursor: pointer;
    border: 0px solid red;
    padding: 7px 10px;
    border-radius: 15px;
}

input {
    outline: none !important;
    border: 0px solid red;
    padding: 7px 10px;
    border-radius: 15px;
}

a {
    color: white;
    &:link {
        text-decoration: none;
    }
    &:hover {
        color: white;
    }
}

#main-nav {
    background-color: rgba(0, 0, 0, 0.6)
}

.nav-link {
    margin: 0 15px;
    font-weight: bold;
    color: #b7b7b7 !important;
}

.nav-item {
    &.active {
        a {
            color: white !important;
        }
    }
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-header {
    background-image: url('../assets/images/header-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 740px;
    overflow: hidden;
    @media only screen and (max-width: 600px) {
        min-height: 343px;
    }
}

#intro-image-wrapper {
    justify-content: center;
    min-height: 745px;
    @media only screen and (max-width: 600px) {
        min-height: 343px;
        img {
            height: 343px !important;
        }
    }
}

#support-nav {
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 2px solid white;
    .nav-link {
        color: white !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar-nav {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#header-content-wrapper {
    background-color: rgba(0, 0, 0, 0.3)
}

.no-margin {
    margin: 0px !important;
}

main {
    margin: 40px 0px;
}

.purple-wrapper {
    min-height: 73px;
    width: 100%;
    height: 100%;
    background-color: #9475cd;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 1px #9475cd;
    border: 0px solid red;
    ::placeholder {
        color: white
    }
    outline: none;
    .search-btn {
        cursor: pointer;
        height: 55px;
        margin-top: 7px;
        margin-left: 10px;
    }
}

input.purple-wrapper {
    width: 400px;
    height: 90%;
    color: white;
    padding: 7px;
    caret-color: yellow !important;
}

#search-title {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: #ffd965;
    }
}

.p2 {
    padding: 2px !important;
}

.product-types {
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    p.product-title {
        white-space: nowrap;
        margin: 0px;
    }
}

.box {
    cursor: pointer;
    color: $gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    min-height: 180px;
    background-color: #ffd965;
    align-items: center;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #ffd965;
}

.grow-1 {
    margin-left: 25px;
    flex-grow: 1;
}

.grow-2 {
    flex-grow: 2;
}

.yellow-deep {
    background-color: $yello-deep;
    box-shadow: 1px 1px 1px 1px $yello-deep;
}

.product-type-image {
    width: 71px;
    height: 88px;
    figure {
        &.image-2 {}
    }
}

.no-wrap {
    white-space: nowrap;
}

.grade {
    :hover {
        color: black !important;
    }
    transition: color 0.6s linear;
    min-height: 67px;
    background-color:#ffd965;
    color: $gray !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    &.active {
        background-color: #f6d703;
    }
}

.gray-shadow {
    box-shadow: 1px 1px 2px 1px #d6d6d6;
    margin: 1px -15px;
}

.university {
    :hover {
        color: black !important;
    }
    transition: color 0.6s linear;
    min-height: 67px;
    background-color:#edecec;
    color: $gray !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

ul.column-group {
    border-left: 1px solid #e3e2e2;
    margin: 2px 0px 0px 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    li {
        padding-right: 40px !important;
        margin: 0px 0px 0px 0px;
        width: 100%;
        height: 50px;
        color: $gray !important;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
        padding-right: 5px;
    }
    li:nth-of-type(odd) {
        background-color: #f7f7f7;
    }
    li:nth-of-type(even) {
        background-color: #f1f1f1;
    }
}

.exam-smaples {
    display: flex;
    .blue {
        color: #17a2b8;
    }
    flex-direction: column;
    padding: 20px 15px;
    .list {
        background-color: #eff6ff;
        border-radius: 3px;
        box-shadow: 1px 1px 1px 1px #e8e8e8;
        min-height: 100px;
        margin-top: 10px;
        padding: 20px;
        ul {
            li {
                display: inline-block;
                font-size: 13px;
                color: #6b6b6b;
                padding-right: 10px;
                &::before {
                    content: " * "
                }
            }
        }
    }
}

.courses {
    padding: 20px 15px;
    flex-direction: column;
    .list {
        .course {
            margin: 15px 0px 0px 15px;
            padding: 15px;
            border-radius: 15px;
            box-shadow: 1px 1px 7px 1px #d8d8d8;
            transition: all 0.1s;
            &:hover {
                margin: 12px 0px 3px 15px;
                box-shadow: 1px 7px 26px 5px #eaeaea;
            }
            h6 {
                margin-bottom: 25px;
            }
            span {
                display: block;
                margin-bottom: 10px;
            }
            .price-cart {
                display: flex;
                .price {
                    color: #ef4123;
                }
                justify-content: space-between;
                align-items: center;
            }
            .btn-buy {
                background-color: #ef4123;
                color: white;
            }
            .btn-show {
                margin-left: 5px;
                background-color: $yello-deep;
                color: b;
            }
        }
    }
}

footer {
    margin-top: 55px;
    background-color: #414040;
    padding-top: 110px;
    .news-letter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5px;
        width: 100%;
        background-color: white;
        border-radius: 50px;
        min-height: 65px;
        position: relative;
        padding-right: 10px;
        .submit {
            position: absolute;
            border-radius: 50px;
            min-height: 65px;
            width: 150px;
            left: 0;
            background-color: #9575cd;
            border: 0px solid red;
        }
    }
    .social-links {
        margin-top: 50px;
        ul {
            padding: 0px;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            li {
                cursor: pointer;
                margin: 0 17px;
                padding: 30px;
                font-size: 34px;
                border: 1px solid white;
                color: white;
                border-radius: 37px;
                transition: all 0.3s;
                position: relative;
                a {
                    left: 25%;
                    top: 18%;
                    position: absolute;
                    i {
                        transition: all 0.3s;
                    }
                }
                &:hover {
                    border: 1px solid #9475cd !important;
                    a {
                        i {
                            color: #9475cd;
                        }
                    }
                }
            }
        }
        margin-bottom:21px;
    }
    .other-links {
        padding-right: 82px;
        ul {
            border-top: 5px dotted white;
            padding: 0px;
            margin-top: 33px;
            list-style: none;
            li {
                font-size: 20px;
                padding-top: 16px;
                transition: all 0.3s;
                color: white;
                :hover {
                    color: #9475cd;
                }
            }
        }
    }
    .footer-line {
        margin-top: 62px;
        border-top: 3px solid #9575cd;
        min-height: 62px;
        position: relative;
        .go-to-top {
            background-color: #9575cd;
            min-height: 70px;
            min-width: 70px;
            border-radius: 50px;
            left: 50%;
            position: absolute;
            top: -37px;
            .line:nth-child(1) {
                transform: rotate(45deg);
                position: absolute;
                left: 44%;
                top: 41%;
                width: 25px;
                height: 5px;
                background-color: #f6d703;
                border-radius: 5px;
            }
            .line:nth-child(2) {
                transform: rotate(-45deg);
                position: absolute;
                left: 22%;
                top: 41%;
                width: 25px;
                height: 5px;
                background-color: #f6d703;
                border-radius: 5px;
            }
        }
    }
}
#login-dialog{
  .modal-content{
    border-radius: 20px;
  }
}
.login {
  padding: 0 !important;
    border-radius: 20px;
    overflow: hidden;
    .login-logo {
        margin-top: 70px;
        margin-right: 50px;
        height: 100px;
        width: 250px;
    }
    .login-intro {
        padding: 28px;
        justify-content: center;
        background-color: #9475cd;
        color: white;
        p {
            text-align: justify;
            padding-top: 40px;
            color: white;
        }
        .divider {
            border-top: 1px solid white;
            margin-top: 90px;
        }
    }
    .login-form {
        background-color: #f7f7f7;
        padding: 0px 40px;
        .hint {
            margin-top: 140px;
            color: #9475cd;
        }
        form {
            margin-top: 50px;
            button,
            input {
                border-radius: 20px;
                width: 100%;
                box-shadow: 1px 2px 7px -1px #757575;
                height: 67px;
            }
            button {
                background-color: #9475cd;
                color: white;
            }
        }
    }
}
